<div class="container">

    <!-- Adventures list -->
    <div ui-sortable ng-model="adventures">
        <div class="col-md-10 col-md-offset-1">
            <p class="naddoddr-title naddoddr-h1">Adventures</p>
        </div>
        <div class="row" ng-repeat="adventure in adventures" style="padding:5px 10px; cursor: move;">
            <div class="col-md-10 col-md-offset-1">
                <div class="adventure-item">
                    <div>
                        <leaflet
                                class="adventure-item-bg"
                                center="adventure.center"
                                markers="adventure.markers"
                                paths="adventure.paths"
                                src="images/watercolor-europe.png"></leaflet>
                    </div>
                    <div class="adventure-item-content transparent">

                        <h1><a ng-href="#/adventure/view/{{ adventure.get('_id') }}">{{ adventure.get('name') }}</a></h1>
                        <h3>{{ adventure.get('description') }}</h3>
                        <p>Etapas del viaje {{ adventure.get('stages').length }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>