<div class="container">
    <h2>Adventures</h2>

    <!-- Adventures list -->
    <div ui-sortable ng-model="adventures">
        <div class="row" ng-repeat="adventure in adventures" style="padding:5px 10px; cursor: move;">
            <div class="col-md-10 col-md-offset-1">
                <div class="adventure-item">
                    <div>
                        <img  class="adventure-item-bg" src="images/watercolor-europe.png">
                    </div>
                    <div class="adventure-item-content transparent">
                        <h1>{{ adventure.get('name') }}</h1>
                        <h3>{{ adventure.get('description') }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>