body{
    background-color: #9D582E;
}
.trip-item{
    height:450px;
    margin: 10px;
}

.trip-item-bg{
    height:450px;
}

.trip-item-content {
    margin-top:-200px;
    padding-left: 50px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}