/* Space out content a bit */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #9D582E;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {

}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.adventure-item{
    margin-bottom: 15px;
}

.adventure-item-bg{
    width:100%;
    height: 600px;
}

.adventure-item-content {
    position: absolute;
    top: 0;
    right:0;
    left:0;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #cccccc;
}

.transparent{
    background-color: rgba(200, 200, 200, 0.6);
}

h2{
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Handlee', cursive;*/
    font-family: 'Satisfy', cursive;
}

.naddoddr-title{
    font-family: 'Satisfy', cursive;
}

.naddoddr-h1{
    padding-top: 20px;
    font-size: 70px;
}

.naddoddr-h2{
    padding-top: 20px;
    font-size: 40px;
}

.homelink{
    height: 100px;
}

a, a:hover{
    color: #555555;
    text-decoration: none;
}
